img{
    width: 100px;
    height: 100px;
}

.header img{
    width: 300px;
    height: 50px;    
}

.top img{
    width: 300px;
    height: 150px;    
}

html{
    background-color: #1F2937;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    display: flex;
    justify-content: space-around;
}

.head-image{
    display: flex;
    flex: 1;
    margin-left: 200px;
}

.head-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-right: 200px;
    flex-shrink: 0;
}

a:link, a:active, a:visited{
    text-decoration: none;
    color: white;
}

a:hover{
    color:bisque
}

.top{
    display: flex;
    justify-content: center;
    gap: 550px;
    margin-top: 100px;
}

.top-text{
    display: flex;
    flex-direction: column;
}
